body {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400px;
    color: #000;
}

.text-justify {
    text-align: justify;
}

.bg-gray {
    background-color: #f9f9f9;
}

.text-bg-light-2 {
    background: #F9F9F9;
    color: #666666;
    font-weight: 500;
}

/* Navbar */
.navbar-nav .nav-item {
    margin-right: 20px;
}

.navbar-nav .nav-link {
    color: #0033AD;
    text-align: center;
    display: inline-block;
    position: relative;
}

/* Avoid shifting when link made bold on hover  
 * Use pseudo element to pre-set the width of the element hovered
 */
.navbar-nav .nav-link::before {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: #0033AD;
    opacity: 1;
    transition: opacity 300ms, transform 300ms;
    transform: scale(0);
    transform-origin: center;
}

.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-link:focus::after {
    transform: scale(1);
}

.navbar-nav .nav-link:hover {
    font-weight: bold;
}

.navbar-nav .nav-link.active {
    color: #0033AD;
    font-weight: bold;
}

.navbar-nav .nav-link.active::after {
    transform: scale(1);
}

/* Section */
.section {
    padding: 85px 0px;
}

.section .section-header {
    color: #0033AD;
    padding-bottom: 50px;
}

/* Home section */
.home {
    background: linear-gradient(60deg, #0033AD 0%, #2294f4 100%);
    color: white;
}

.home .intro,
.home .full-name,
.home .job-title {
    margin-top: 0;
    margin-bottom: 8px;
    line-height: 1.2;
}

.home .intro {
    font-size: 35px;
}

.home .full-name {
    font-size: 60px;
    font-weight: 500;
}

.home .job-title {
    font-size: 25px;
}

.home hr {
    max-width: 600px;
}

.home .social-link {
    color: white;
    font-size: 20px;
}

.home .social-link .bi-linkedin {
    font-size: 18px;
}

.home .social-link i:hover {
    color: #000000;
}

/* Projects */
.projects .container {
    max-width: 1000px;
}

/* Skills section */
.skill-img-wrapper {
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.skill-img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

.skill-name {
    display: block;
    margin-top: 20px;
    text-align: center;
}

/* Contact section */
.contact .social-link {
    color: #000;
}

.contact .social-link i {
    font-size: 25px;
}

.contact .social-link i:hover {
    color: #0033AD;
}

/* Footer */
footer {
    background-color: #333;
}

footer a {
    color: #6c757d;
}

footer a:hover {
    color: white;
}

/* Modal */
ul li {
    margin-bottom: 5px;
}

/**************** Effects ****************/

.fadeInRight {
    -webkit-animation: fadeInRight 1000ms ease-in-out;
    animation: fadeInRight 1000ms ease-in-out;
}

/* Chrome, Safari */
@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-150px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-150px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/**************** Media queries ****************/
@media(min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1200px;
    }
}